@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alegreya:wght@400;500;700&family=Alegreya+Sans:wght@400;500;700&family=Cardo:wght@400;700&display=swap');
@import "./Styles.css";

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/* -- debug --
* {
  outline: 1px solid red;
} */

/* HERO */
.hero {
  width: 100%;
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-placeholder {
  width: 100%;
  height: 100%;

  border: 3px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

/* COMING SOON SECTION */
.coming-soon {
  width: 100%;
  height: 800px;

  background-color: var(--color-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon-content {
  width: min(1400px, 90%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 100px;
}

.coming-soon-text {
  width: 50%;
}

.coming-soon-text h1 {
  color: var(--color-blue);

  font-size: 4rem;

  margin-bottom: 30px;

  text-align: left;
}

.coming-soon-text h2 {
  color: black;
  font-size: 2rem;
  
  margin-bottom: 30px;

  text-align: left;
}

.coming-soon-text p {
  font-size: 1.1rem;

  line-height: 1.8;

  text-align: left;
}

.coming-soon-image {
  width: min(600px, 100%);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.coming-soon-placeholder {
  width: min(600px, 100%);
  aspect-ratio: 1 / 1;

  border: 3px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME NEWEST SECTION */

.home-newest {
  width: 100%;
  height: 800px;

  background-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-newest-content {
  width: 1400px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  gap: 100px;
}

.home-newest-image {
  width: 500px;
  height: 500px;

  border: 3px dashed #8b8b8b;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

.home-newest-text {
  width: 50%;
}

.home-newest-text h1 {
  color: var(--color-blue);

  font-size: 4rem;

  margin-bottom: 30px;

  text-align: left;
}

.home-newest-text h2 {
  color: black;

  font-size: 2rem;

  margin-bottom: 30px;

  text-align: left;
}

.home-newest-text p {
  font-size: 1.1rem;

  line-height: 1.8;

  text-align: left;
}

.coming-soon-content,
.home-newest-content {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .coming-soon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .coming-soon-content,
  .home-newest-content {
    flex-direction: column;
    width: 80%;
    gap: 30px;
    text-align: center;
  }

  .coming-soon-text,
  .home-newest-text {
    width: 80%;
  }

  .hero {
    height: 400px;
  }

  .coming-soon-image,
  .home-newest-image {
    width: 80%;
    max-width: 350px;
    height: auto;
  }

  .coming-soon-text h1,
  .home-newest-text h1 {
    font-size: 2.5rem;
  }

  .coming-soon-text h2,
  .home-newest-text h2 {
    font-size: 1.5rem;
  }

  .coming-soon-text p,
  .home-newest-text p {
    font-size: 1rem;
  }
}


