@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alegreya:wght@400;500;700&family=Alegreya+Sans:wght@400;500;700&family=Cardo:wght@400;700&display=swap');
:root {
  --site-blue: #0F7BA8;
  --site-background: #E6FBFF;
  --coming-soon-bg: #FFEEDE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', serif;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
  color: #4B4B4B;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--site-background);
  font-family: Georgia, serif;
}

/* APP */
.app {
  width: 100%;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 100px;

  background-color: var(--site-blue);

  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  font-family: 'Aboreto';
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 40px;

  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

/* HERO */
.hero {
  width: 100%;
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-placeholder {
  width: 100%;
  height: 100%;

  border: 3px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

/* COMING SOON SECTION */
.coming-soon {
  width: 100%;
  height: 800px;

  background-color: var(--coming-soon-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon-content {
  width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 100px;
}

.coming-soon-text {
  width: 50%;
}

.coming-soon-text h1 {
  color: var(--site-blue);

  font-size: 4rem;

  margin-bottom: 30px;

  text-align: left;
}

.coming-soon-text h2 {
  color: black;
  font-size: 2rem;
  
  margin-bottom: 30px;

  text-align: left;
}

.coming-soon-text p {
  font-size: 1.1rem;

  line-height: 1.8;

  text-align: left;
}

.coming-soon-image {
  width: 600px;
  height: 600px;

  border: 3px dashed #999;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

/* HOME NEWEST SECTION */

/* HOME NEWEST SECTION */

.home-newest {
  width: 100%;
  height: 800px;

  background-color: var(--site-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-newest-content {
  width: 1400px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  gap: 100px;
}

.home-newest-image {
  width: 600px;
  height: 600px;

  border: 3px dashed #999;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

.home-newest-text {
  width: 50%;
}

.home-newest-text h1 {
  color: var(--site-blue);

  font-size: 4rem;

  margin-bottom: 30px;

  text-align: left;
}

.home-newest-text h2 {
  color: black;

  font-size: 2rem;

  margin-bottom: 30px;

  text-align: left;
}

.home-newest-text p {
  font-size: 1.1rem;

  line-height: 1.8;

  text-align: left;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 200px;

  background-color: var(--site-blue);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
}

.newsletter {
  color: white;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .coming-soon-content {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .coming-soon {
    height: auto;
    padding: 80px 0;
  }

  .coming-soon-content {
    flex-direction: column;
    text-align: center;
  }

  .coming-soon-text {
    width: 100%;
  }

  .coming-soon-image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    height: auto;

    padding: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .coming-soon-text h1 {
    font-size: 3rem;
  }

  .coming-soon-text h2 {
    font-size: 1.5rem;
  }

  .coming-soon-image {
    width: 300px;
    height: 300px;
  }

  .read-more-btn {
  margin-top: 25px;

  background-color: #EA9A28;
  color: white;

  border: none;

  padding: 10px 22px;

  font-size: 0.95rem;
  font-weight: 500;

  cursor: pointer;
}


}